<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Info windows</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 20%;
            width: 20%;

        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;


        }
        .leyenda {
            width: 10%;
            height: auto;
        }
        #legend {
            font-family: Arial, sans-serif;
            background: #fff;
            padding: 10px;
            width: 150px;
            margin: 10px;
            border: 0px solid #000;
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            border-radius: 10px 10px 10px 10px;
            -moz-border-radius: 10px 10px 10px 10px;
            -webkit-border-radius: 10px 10px 10px 10px;
            border: 0px solid #000000;
        }
        #legend h3 {
            margin-top: 0;
        }
        #legend img {
            vertical-align: middle;
        }
    </style>
</head>
<body>
<!--<div id="legend"  style="visibility:hidden;"><h4>Leyenda</h4></div>-->
<% if(parquesRecreativos_ == null && parquesInfantiles_ == null){%>

<div class="row">
    <% include includes/head2.ejs %>
</div>
<div class="container">
    <div class="row edit card">
        <div class="col-md-4 col-md-offset-0 ">
            <div id="map" class="card"></div>
        </div>
        <div class="col-md-7 col-md-offset-1 ">
            <div class="cardTransparent">
                <div class="row size">
                    <div class="col-md-12">
                        <b>Información: </b><%- senderos_.partida%> - <%- senderos_.fin %>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="">
                        <div class="col-md-6" title="Partida">
                            <i class="fa fa-map-pin fa-1x" aria-hidden="true"></i>  <%- senderos_.partida%>
                        </div>
                        <div class="col-md-6" title="Fin">
                            <i class="fa fa-flag-checkered fa-1x" aria-hidden="true"></i> <%- senderos_.fin%>
                        </div>
                        <br>
                        <br>
                        <hr>
                        <br>
                        <div class="col-md-6" title="Dificultad">
                            <i class="fa fa-area-chart fa-1x" aria-hidden="true"></i>  <%- senderos_.dificultad%>
                        </div>
                        <div class="col-md-6" title="Dificultad">
                            <i class="fa fa-map-o fa-1x" aria-hidden="true"></i>  <%- senderos_.mapa%>
                        </div>
                        <br>
                        <br>
                        <hr>
                        <br>
                        <div class="col-md-6" title="Distancia">
                            <i class="fa fa-arrows-h fa-1x" aria-hidden="true"></i>  <%- senderos_.distancia%>
                        </div>
                        <div class="col-md-6" title="Duración">
                            <i class="fa fa-clock-o fa-1x" aria-hidden="true"></i>  <%- senderos_.duracion%>
                        </div>
                        <br>
                        <br>


                        <form action="/map/comentario" method="POST" class="navbar-form navbar-left col-md-12" role="search">
                            <div class="form-group">
                                <input value="<%- senderos_._id%>" class="hidden" name="id">
                                <textarea type="text" class="form-control input" placeholder="Escribe tu comentario" cols="80"rows="5" name="comentario"></textarea>
                            </div>
                            <br>
                            <br>

                            <button type="submit" class="btn btn-default">Enviar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <% for (i = 0; i < comentarios_.length;i++){ %>
            <div class="card">
               <p> <%- comentarios_[i].comentario %> </p>

                <div id="recargado">Mi texto sin recargar</div>
                <p align="center">
                    <i class="fa fa-thumbs-up" onclick="recargar()" aria-hidden="true"></i>
                </p>

            </div>
    <%}%>
</div>
<%}%>


<script>

    function recargar(){
        /// Aqui podemos enviarle alguna variable a nuestro script PHP
        var variable_post="Mi texto recargado";
        /// Invocamos a nuestro script PHP
        $.post("/test", { variable: variable_post }, function(data){
            /// Ponemos la respuesta de nuestro script en el DIV recargado
            console.log(data)
        });
    }
    // This example displays a marker at the center of Australia.
    // When the user clicks the marker, an info window opens.

    //    let sitios = [[28.291565, -16.629129], [28.291565, -16]]
    //    function setMakers(map){
    //        for (let i = 0; i < 1; i++) {
    ////              let contentString = '<div id="content">' +
    ////                  '<div id="siteNotice">' +
    ////                  '</div>' +
    ////                  '<h1 id="firstHeading" class="firstHeading">Prueba</h1>' +
    ////                  '<div id="bodyContent">' + 'Esto no es mas que una prueba';
    //////
    ////              let infowindow = new google.maps.InfoWindow({
    ////                  content: contentString
    ////              });
    ////            let pos = {lat: sitios[i][0], lng: sitios[i].[1]};
    ////
    ////            let marker = new google.maps.Marker({
    ////                position: pos,
    ////                map: map,
    ////                title: ''
    ////            });
    ////
    ////              marker.addListener('click', function () {
    ////                  infowindow.open(map, marker);
    ////              });
    //            var beachMarker = new google.maps.Marker({
    //                position: {lat: sitios[i][0], lng: sitios[i][1]},
    //                map: map,
    //                title: sitios[i][0],
    //            });
    //            console.log(beachMarker);
    //
    //
    //        }
    //    }
    //    function initMap() {
    //        let sitios = [[28.291565, -16.629129], [28.291565, -16]]
    //        let Tenerife = {lat: 28.291565, lng: -16.629129};
    //        let map = new google.maps.Map(document.getElementById('map'), {
    //            zoom: 10,
    //            center: Tenerife,
    //            mapTypeControl: false,
    //            fullScreenControl: false,
    //
    //        });
    //        setMarkers(map);
    //    }

    let icons = {
        senderos: {
            id: 'senderos',
            name: 'Senderos',
            icon: '/images/hiking2.png'
        },
        parques:{
            id: 'parquesRecreativos',
            name: 'Parques Recreativo',
            icon: '/images/tree_black.png'
        },
        ninos:{
            id: 'parques_infantiles',
            name: 'Parques Infantiles',
            icon: '/images/ball.png'
        },



    };

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: {lat: 28.291565, lng: -16.629129},
            styles: [
                {
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#ebe3cd"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#523735"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#f5f1e6"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#c9b2a6"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#dcd2be"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#ae9e90"
                        }
                    ]
                },
                {
                    "featureType": "landscape.natural",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#93817c"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#a5b076"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#447530"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f5f1e6"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#fdfcf8"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f8c967"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#e9bc62"
                        }
                    ]
                },
                {
                    "featureType": "road.highway.controlled_access",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#e98d58"
                        }
                    ]
                },
                {
                    "featureType": "road.highway.controlled_access",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#db8555"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#806b63"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#8f7d77"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#ebe3cd"
                        }
                    ]
                },
                {
                    "featureType": "transit.station",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#b9d3c2"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#92998d"
                        }
                    ]
                }
            ],
            mapTypeControl: false,
            streetView:false,
            disableDefaultUI: true,
        });

        setMarkers(map);
    }

    // Data for the markers consisting of a name, a LatLng and a zIndex for the
    // order in which these markers should display on top of each other.
    var beaches = [
        [28.291565, -16.629129],
        [28.291565, -16]
    ];

    let senderos =  <%- JSON.stringify(senderos_) %>;
    let parquesRecreativos =  <%- JSON.stringify(parquesRecreativos_) %>;
    let parquesInfantiles =  null;




    function setMarkers(map) {
        // Adds markers to the map.

        // Marker sizes are expressed as a Size of X,Y where the origin of the image
        // (0,0) is located in the top left of the image.

        // Origins, anchor positions and coordinates of the marker increase in the X
        // direction to the right and in the Y direction down.

        // Shapes define the clickable region of the icon. The type defines an HTML
        // <area> element 'poly' which traces out a polygon as a series of X,Y points.
        // The final coordinate closes the poly by connecting to the first coordinate.
        let shape = {
            coords: [1, 1, 1, 20, 18, 20, 18, 1],
            type: 'poly'
        };


        if(parquesRecreativos == null && parquesInfantiles == null) {
            let infoWindow = new google.maps.InfoWindow({maxWidth: 200}), marker, i;
            for (let i = 0; i < 1; i++) {
                let sendero = senderos;
                console.log(sendero)

                let marker = new google.maps.Marker({
                    position: {lat: Number(sendero.latitud), lng: Number(sendero.longitud)},
                    map: map,
                    icon: icons.senderos.icon,
                    animation: google.maps.Animation.DROP,
                    //shape: shape,
                    title: sendero.partida,
                    //zIndex: beach[3],
                });
//                google.maps.event.addListener(marker, 'click', (function (marker, i) {
//                    return function () {
//                        infoWindow.setContent(
////                            "<div class=\"col-md-12\">" +
////                            "<b>" + sendero.partida + " - " + sendero.fin + "</b>" +
////                            "</div>" +
////                            "<div class=\"col-md-11 col-md-offset-1\">" +
////                            "<br><i class=\"fa fa-clock-o\"></i> " + sendero.duracion +
////                            "</div>" +
////                            "<div class=\"col-md-11 col-md-offset-1\">" +
////                            "<br><i class=\"fa fa-map-o\"></i> " + sendero.distancia +
////                            "</div>"
//                        )
//                        infoWindow.open(map, marker);
//                    }
//                })(marker, i));
            }
        }



        var legend = document.getElementById('legend');
        let aux = 0
        for (var key in icons) {
            var type = icons[key];
            var name = type.name;
            var id_icon = type.id
            var icon = type.icon;
            var div = document.createElement('div');

            div.innerHTML = "<a href=\"/map/"+ id_icon +"\"><img class=\"leyenda\" width=\"10px\" height=\"10px\" src=\"" + icon + "\"> " + name+"<hr><a>";

            legend.appendChild(div);

        }
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);

        setTimeout(function(){
            document.getElementById('leyenda').style.visibility = "visible";
        },1000);

    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVyWk8s6eYntMf-FhDcBtjWYhaOZeTBto&callback=initMap">
</script>
</body>
</html>
